<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataFrame Operations</title>
</head>
    <body>
        <h1>DataFrame Operations</h1>

        <h2>Original DataFrame</h2>
        {{ original_df|safe }}

        <h2>Filtered DataFrame</h2>
        {{ filtered_df|safe }}

        <h2>Filtered DataFrame with 2 Columns</h2>
        {{ filtered_columns_df|safe }}

        <h2>Replaced DataFrame</h2>
        {{ replaced_df|safe }}

        <h2>Appended DataFrame</h2>
        {{ appended_df|safe }}
    </body>
</html>
